*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login{
    width: 560px;
    height: 480px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(255,255,255,.5);
}

.title{
    font-weight: 500;
    font-size: 2em;
    width: 75%;
    margin: 35px auto;
    margin-top: 60px;
}

form{
    width: 75%;
    margin: 0 auto;
}

form .input label{
 display: block;
 font-size: .9em;
 font-weight: 400;
 margin-bottom: 12px;
 color: darkgrey;
}

form .input input{
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid rgba(230,230,230,.7);
    font-size: 1.4em;
    font-weight: 300;
    padding: 0 40px;
}

form .input{
    position: relative;
    margin-bottom: 35px;
}

.btn{
    display: block;
    width: 120px;
    height: 50px;
    background-color: #000;
    border-radius: 28px;
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
}

.btn:hover{
    transition: all .6s;
    cursor: pointer;
    background-color: #33cc33;
}

form .input input:focus{
    transition: all .4s;
    border: 1px solid #33cc33;
}

.input .show{
    position: absolute;
    line-height: 60px;
    right: 15px;
}

.input .icon{
    position: absolute;
    line-height: 60px;
    left: 10px;
    color: #b3b3b3;
}

.input .show:hover{
    color: #33cc33;
}

/* ALERT */
.success , .error{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px;
    background: #00cc00;
    color: white;
    font-weight: 700;
    opacity: .6;
    border-radius: 12px;
    transition: all .5s;
}

.error{
    background: #ff471a;
}

/*PAGE ERROR */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
}

.code-error{
    width: 40%;
    height: 40%;
    border: 10px double rgba(230,230,230,.6);
    border-radius: 50px;
    background: #fff;
}

.title-error{
    position:absolute;
    margin: 0 auto;
    top: 15%;
    font-size: 3em;
    color: gray;
}